APP_NAME=tea-traceability-system
APP_ENV=dev
SERVER_ADDR=:8080
JWT_SECRET=replace-with-a-long-secret
MYSQL_DSN=root:root@tcp(127.0.0.1:3307)/tea_traceability?charset=utf8mb4&parseTime=True&loc=Local
AUTO_MIGRATE=true
SEED_DEMO=true
DB_MAX_IDLE_CONNS=10
DB_MAX_OPEN_CONNS=20
DB_CONN_MAX_LIFETIME_MINUTES=30
